<link rel="stylesheet" type="text/css" href="../css/main.css">
<nav>
    <a class="nav" href="../view/group.php">
        <p>Группы</p>
    </a>
    <a class="nav" href="../view/subject.php">
        <p>Добавить предмет</p>
    </a>
    <a class="nav" href="../view/maketest/test_st1.php">
        <p>Добавить тест</p>
    </a>
    <a class="nav" href="../view/alltest.php">
        <p>Назначить тесты</p>
    </a>
    <a class="nav" href="../view/result.php">
        <p>Результаты</p>
    </a>
    <a class="nav" href="../exit.php">
        <p>Выйти</p>
    </a>
</nav>